/* Don't display annotations over full card art (eg in hands, in play, etc) */
.full-card-template {
	visibility: hidden;
}

.full-card > div > .full-card-name-container {
	visibility: hidden;
}

.full-card > div > .full-card-text-container {
	visibility: hidden;
}

.full-card > div > .bottom-bar-full {
	visibility: hidden;
}

.full-card > div > .treasure-production-container {
	visibility: hidden;
}

.full-card {
	visibility: hidden;
	box-shadow: none;
}

/* Display full card art */
.full-card-art {
	top: 0% !important;
	left: 0% !important;
	height: 90% !important;
	width: 103% !important;
	background-size: contain;
	visibility: visible !important;
	border: 16px solid rbga(0, 0, 0, 1);
	border-style: solid;
	border-radius: 16px !important;
}

/* Display card counters */
card-counter {
	visibility: visible !important;
}

/* Display facedown cards */
/* Hero deck */
.hero-info > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
	background-size: contain;
	visibility: visible !important;
}

/* Opponent deck */
.opponent-deck > .full-card-template {
	background-size: contain;
	visibility: visible !important;
}

/* Opponent hand */
.opponent-hand > div:nth-child(1) > .full-card-template {
	background-size: contain;
	visibility: visible !important;
}

/* Display Xs when appropriate */
.yellow-cross {
	visibility: visible !important;
}

.red-cross {
	visibility: visible !important;
}

/* Card highlighting */
.action-layer .play-layer {
}